<div class="page">
  <main class="ships">
    <h1 class="title">SpaceX Ships</h1>
    <div *ngIf="loading">Loading...</div>
    <div *ngIf="!loading && ships">
      <app-widget-cards-list [items]="ships"></app-widget-cards-list>
      <app-controls-paginator [current]="currentPage" [max]="totalPages" (changePage)="changePage($event)"></app-controls-paginator>
    </div>
  </main>
  <aside class="sidebar">
    <app-widget-filter [filters]="filters" (changeEvent)="setFilters($event)"></app-widget-filter>
  </aside>
</div>
