@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.page {
  display: flex;
  min-height: 100vh;

  .ships {
    flex-grow: 1;
    padding: 52px 63px;

    .title {
      @include resetMP();
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;
      color: $colorBlack;
    }
  }

  .sidebar {
    width: 393px;
    padding: 52px 33px;
    border-left: 1px solid #A5A5A5;
  }
}
