<div class="wrapper">
  <input class="input" type="text" id="inputmulti" (input)="onInput($event)">
  <label for="inputmulti" [ngClass]="{'label': true, 'label--active': !isEmpty}">Название</label>
  <div class="drop-down">
    <ul class="checkbox-list">
      <div class="item">
        <controls-checkbox></controls-checkbox>
      </div>
      <div class="item">
        <controls-checkbox></controls-checkbox>
      </div>
      <div class="item">
        <controls-checkbox></controls-checkbox>
      </div>
    </ul>
  </div>
</div>
